{% extends "base.html" %}

{% block title %}
    Bookmark Detail
{% endblock %}

{% block content%}
    Link:{{ bookmark.link.url }}<br>
    Title: {{ bookmark.title }}<br>
    Comment: {{ bookmark.comment }}<br>
    State: {{ bookmark.state }}<br>

    {{ form.as_table }}

{% endblock %}