{% extends "base.html" %}

{% block content %}
    {#    Bookmarks by user: {{ form.author }}#}
    {#    {% include 'bookmark_thumb.html' %}#}

<div class="col-md-8 col-md-offset-2">


    {% if object_list|length == 0 %}
        No Bookmarks found for this search.
    {% else %}
    {% for bookmark in object_list %}
                        {% include 'bookmark.html' %}
                    {% endfor %}
    {% endif %}
    </div>
{#    <div class="row">#}
    {#        <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12 bhoechie-tab-container">#}
    {#            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">#}
    {#                <div class="list-group">#}
    {#                    <a href="#" class="list-group-item text-center active">All tags</a>#}
    {#                    {% for tag in tags %}#}
    {#                        <a href="#" class="list-group-item text-center">{{ tag.title }}({{ tag.bookmarks_count }})</a>#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">#}
    {#                <div class="bhoechie-tab-content active">#}
    {#                    {% for bookmark in object_list %}#}
    {#                        {% include 'bookmark.html' %}#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#                {% for tag in tags %}#}
    {#                    <div class="bhoechie-tab-content">#}
    {#                        {% for bookmark in tag.get_bookmarks %}#}
    {#                            {% include 'bookmark.html' %}#}
    {#                        {% endfor %}#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}

