{% extends "base.html" %}
{% load bootstrap %}

{% block title %}
    Edit Bookmark
{% endblock %}

{#{% block content %}#}
{#    <form method="post" action=".">#}
{#        {% csrf_token %}#}
{#        <table>#}
{#            {{ form.as_table }}#}
{#        </table>#}
{#    <button type="submit">Done Editing</button>#}
{#    </form>#}
{#{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <form method="post" action="{% url 'bookmark-edit' bookmark.id %}" role="form">
                {% csrf_token %}
                <legend>Edit Bookmark</legend>
                {{ form|bootstrap_horizontal }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Done Editing</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
