{% load comments %}
{% load humanize %}
<div class="panel panel-default bookmark" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <div class="pull-right shared-with">
            {% if user == bookmark.user %}
                <a href="{% url 'bookmark-edit' bookmark.id %}">Edit</a>
            {% endif %}
            {% if bookmark.is_public %}
                <i class="glyphicon glyphicon-globe"></i>
            {% elif bookmark.is_followers %}
                <i class="glyphicon glyphicon-user followers"></i>

            {% else %}
                <i class="glyphicon glyphicon-user"></i>
            {% endif %}
        </div>
        <h4>{{ bookmark.title }}</h4></div>
    <div class="panel-body">
        {#        <img src="//placehold.it/150x150" class="img-circle pull-right">#}
        <div class="pull-right" style="position:relative; text-align: center">
            <img src="/media/user-photos/no-user.jpg" class="img-circle " alt="">
            <a href="{% url 'user-profile' bookmark.user.id %}" class="user-name">{{ bookmark.user.username }}</a>
        </div>
        <a href="{{ bookmark.link.url }}" class="link">{{ bookmark.link.url }}</a>

        <div class="clearfix"></div>
        <hr>
        <p>{{ bookmark.comment }}</p>
        <hr>
        <div class="tags_area">
            {% for tag in bookmark.get_tags %}
                <a href="{% url 'bookmark-search' tag=tag.title %}">{{ tag.title }}</a>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
        <div class="input-group">
            <div class="input-group-btn">
                {% if user in bookmark.get_liked_users %}
                    <button class="btn btn-primary like-btn"
                            onclick="likeForm{{ bookmark.id }}.action.value='unlike'; likeForm{{ bookmark.id }}.submit();">
                        1
                    </button>
                {% else %}
                    <button class="btn btn-default like-btn"
                            onclick="likeForm{{ bookmark.id }}.action.value='like'; likeForm{{ bookmark.id }}.submit();">
                        +1
                    </button>
                {% endif %}
                <button class="btn btn-default"><i class="glyphicon glyphicon-share"
                                                   onclick="share_form{{ bookmark.id }}.submit();"></i></button>
                {% get_comment_count for bookmark as comment_count %}
                {% if comment_count == 0 %}
                    <button class="btn btn-default" disabled=disabled onclick="comments_show();"><i
                            class="glyphicon glyphicon-comment"></i> {{ comment_count }}</button>
                {% else %}
                    <button class="btn btn-default" onclick="comments_show();"><i
                            class="glyphicon glyphicon-comment"></i> {{ comment_count }}</button>
                {% endif %}
            </div>
            {% get_comment_form for bookmark as form %}
            {% if user.is_authenticated %}
                <form method="post" action="{% comment_form_target %}" class="comment-form">
                    {% csrf_token %}
                    {{ form.honeypot }}
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <textarea class="form-control comment-textbox" name="comment"
                              placeholder="Add a comment.." onkeypress="submitFunction();"
                              onkeydown="autoExpand();"></textarea>
                    <input type="hidden" name="next" value="{{ request.path }}"/>
                </form>
            {% else %}
                Please log in to leave a comment.
            {% endif %}
        </div>
                <form action="{% url 'bookmark-like' return_url=request.path %}" method="post" style="display: none"
                  name="likeForm{{ bookmark.id }}">
                {% csrf_token %}
                <input type="hidden" name="action">
                <input type="hidden" name="bookmark_id" value="{{ bookmark.id }}">
            </form>
            <form action="{% url 'bookmark-share' %}" method="get" style="display: none"
                  name="share_form{{ bookmark.id }}">
                <input type="hidden" name="url" value="{{ bookmark.link }}">
            </form>
        <div class="comments-area pull-right" style="display: none">
            {% get_comment_list for bookmark as comment_list %}
            {% for comment in comment_list %}
                <div class="comment">
                    <div class="pull-left">
                        <div class='photo'
                             style="background-image: url('{% if bookmark.user.image.url %} {{ bookmark.user.image.url }} {% else %} /media/user-photos/no-user.jpg{% endif %}')"></div>
                    </div>
                    <div class="pull-left comment-body">
                        <div class="comment-author pull-left">
                            {{ comment.user.get_full_name }}
                        </div>
                        <div class="comment-date pull-right">
                            {{ comment.submit_date|naturaltime }}
                        </div>
                        <div class="clearfix"></div>
                        <div class="comment-content">
                            {{ comment.comment|linebreaksbr }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        </div>
        <div class="clear"></div>


    </div>
</div>