{% extends "base.html" %}

{% block title %}
    New Bookmark
{% endblock %}

{% block content %}
    <h1>Add new Bookmark</h1>

    <form action="." method="post">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <button type="submit" name="submit">Submit</button>
    </form>
{% endblock %}