.index-body
  background-color: rgba(95, 158, 160, 0.62)
  padding-top: 50px
  .container
    width: 955px
  p
    font-size: 16px
h4
  font-size: 18px
  margin-top: 10px
  margin-bottom: 5px

.bookmark
  .input-group
    margin-top: 10px
  .input-group-btn
    vertical-align: top
  .link
    font-size: 12px
    color: #337ab7
  .tags_area
    margin-top: -10px
    margin-bottom: 10px
    font-size: 10px
    a
      text-decoration: none
      padding: 4px
      background-color: rgba(233, 234, 237, 0.32)
      border-radius: 8px
      margin-right: 5px
      float: left
  .user-name
    position: absolute
    top: 83px
    left: 0
    width: 100%
    font-size: 10px
    font-weight: 600
    color: #444444
  .like-btn
    min-width: 3em
  .user-name:hover
    font-size: 13px
    color: #009999


  .shared-with
    i
      padding-top: 8px
      padding-right: 5px
      font-size: 16px
  .shadow
    margin-left: 7px
    color: #797979
    font-size: 16px
  .origin
    margin-top: -18px
    display: block
  .followers
    text-shadow: 6px -2px #7d7d7d
.user-profile
  .image
    width: 200px
    height: 200px
    background-color: #009999
    margin-left: -15px
  .followers-panel
    text-align: center
    margin-top: 20px
    background-color: #e9eaed
    .panel-heading
      background-color: #f9fafb
      min-height: 50px
    .panel-body
      background-color: white
      ul
        padding: 0
    .follower
      list-style-type: none
      a
        font-size: 11px
        font-weight: 600
        color: #444444
      a:hover
        font-size: 13px
        color: #009999
  .details
    padding-top: 10px
  h1
    margin: 0px
  h2
    margin-top: 0px
    color: #9a9a9a
    font-size: 14px
  p
    margin-top: 20px
  .following-btn
    border: none
    border-radius: 2px
    width: 190px
    height: 30px
    font-size: 14px
    font-weight: bold
    margin: 10px 0px 10px -9px

.landing-page
  background-color: #3bbfce
  margin: -15px 0px

.form-horizontal
  input
    width: 100px

.comment-form
  .comment-textbox
    height: 33px
  #id_honeypot
    display: none
div.comments-area
  width: 455px
  font-size: 9pt
  div.comment
    margin-top: 1em
    padding-left: 0.5em
    background-color: rgba(233, 234, 237, 0.38)
    .photo
      height: 30px
      width: 30px
      background-size: 100%
      background-position: center center
    .comment-body
      width: 400px
      padding-left: 1em
    div.comment-author
      font-weight: bold
    div.comment-date
      font-style: italic
      font-size: 8pt
    div.comment-content
      margin-top: 0.5em
#postModal
  .form-control
    border: 0
    border-radius: 0
    box-shadow: 0 0 0
  textarea
    font-size: inherit
    padding-left: 12px
  .shared-with li
    font-size: 12px
  .tags-li i
    padding-left: 15px

.navbar-nav
  .welcome-span
    padding: 17px 0
    display: block


.errorlist
  padding: 0
  margin-bottom: 8px
  margin-top: -10px
  li
    list-style-type: none
    font-size: 12px
    color: #e04a47
