/* line 1, ../sass/main.sass */
.index-body {
  background-color: rgba(95, 158, 160, 0.62);
  padding-top: 50px;
}
/* line 4, ../sass/main.sass */
.index-body .container {
  width: 955px;
}
/* line 6, ../sass/main.sass */
.index-body p {
  font-size: 16px;
}

/* line 8, ../sass/main.sass */
h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* line 14, ../sass/main.sass */
.bookmark .input-group {
  margin-top: 10px;
}
/* line 16, ../sass/main.sass */
.bookmark .input-group-btn {
  vertical-align: top;
}
/* line 18, ../sass/main.sass */
.bookmark .link {
  font-size: 12px;
  color: #337ab7;
}
/* line 21, ../sass/main.sass */
.bookmark .tags_area {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 10px;
}
/* line 25, ../sass/main.sass */
.bookmark .tags_area a {
  text-decoration: none;
  padding: 4px;
  background-color: rgba(233, 234, 237, 0.32);
  border-radius: 8px;
  margin-right: 5px;
  float: left;
}
/* line 32, ../sass/main.sass */
.bookmark .user-name {
  position: absolute;
  top: 83px;
  left: 0;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  color: #444444;
}
/* line 40, ../sass/main.sass */
.bookmark .like-btn {
  min-width: 3em;
}
/* line 42, ../sass/main.sass */
.bookmark .user-name:hover {
  font-size: 13px;
  color: #009999;
}
/* line 48, ../sass/main.sass */
.bookmark .shared-with i {
  padding-top: 8px;
  padding-right: 5px;
  font-size: 16px;
}
/* line 52, ../sass/main.sass */
.bookmark .shadow {
  margin-left: 7px;
  color: #797979;
  font-size: 16px;
}
/* line 56, ../sass/main.sass */
.bookmark .origin {
  margin-top: -18px;
  display: block;
}
/* line 59, ../sass/main.sass */
.bookmark .followers {
  text-shadow: 6px -2px #7d7d7d;
}

/* line 62, ../sass/main.sass */
.user-profile .image {
  width: 200px;
  height: 200px;
  background-color: #009999;
  margin-left: -15px;
}
/* line 67, ../sass/main.sass */
.user-profile .followers-panel {
  text-align: center;
  margin-top: 20px;
  background-color: #e9eaed;
}
/* line 71, ../sass/main.sass */
.user-profile .followers-panel .panel-heading {
  background-color: #f9fafb;
  min-height: 50px;
}
/* line 74, ../sass/main.sass */
.user-profile .followers-panel .panel-body {
  background-color: white;
}
/* line 76, ../sass/main.sass */
.user-profile .followers-panel .panel-body ul {
  padding: 0;
}
/* line 78, ../sass/main.sass */
.user-profile .followers-panel .follower {
  list-style-type: none;
}
/* line 80, ../sass/main.sass */
.user-profile .followers-panel .follower a {
  font-size: 11px;
  font-weight: 600;
  color: #444444;
}
/* line 84, ../sass/main.sass */
.user-profile .followers-panel .follower a:hover {
  font-size: 13px;
  color: #009999;
}
/* line 87, ../sass/main.sass */
.user-profile .details {
  padding-top: 10px;
}
/* line 89, ../sass/main.sass */
.user-profile h1 {
  margin: 0px;
}
/* line 91, ../sass/main.sass */
.user-profile h2 {
  margin-top: 0px;
  color: #9a9a9a;
  font-size: 14px;
}
/* line 95, ../sass/main.sass */
.user-profile p {
  margin-top: 20px;
}
/* line 97, ../sass/main.sass */
.user-profile .following-btn {
  border: none;
  border-radius: 2px;
  width: 190px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px 10px -9px;
}

/* line 106, ../sass/main.sass */
.landing-page {
  background-color: #3bbfce;
  margin: -15px 0px;
}

/* line 111, ../sass/main.sass */
.form-horizontal input {
  width: 100px;
}

/* line 115, ../sass/main.sass */
.comment-form .comment-textbox {
  height: 33px;
}
/* line 117, ../sass/main.sass */
.comment-form #id_honeypot {
  display: none;
}

/* line 119, ../sass/main.sass */
div.comments-area {
  width: 455px;
  font-size: 9pt;
}
/* line 122, ../sass/main.sass */
div.comments-area div.comment {
  margin-top: 1em;
  padding-left: 0.5em;
  background-color: rgba(233, 234, 237, 0.38);
}
/* line 126, ../sass/main.sass */
div.comments-area div.comment .photo {
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-position: center center;
}
/* line 131, ../sass/main.sass */
div.comments-area div.comment .comment-body {
  width: 400px;
  padding-left: 1em;
}
/* line 134, ../sass/main.sass */
div.comments-area div.comment div.comment-author {
  font-weight: bold;
}
/* line 136, ../sass/main.sass */
div.comments-area div.comment div.comment-date {
  font-style: italic;
  font-size: 8pt;
}
/* line 139, ../sass/main.sass */
div.comments-area div.comment div.comment-content {
  margin-top: 0.5em;
}

/* line 142, ../sass/main.sass */
#postModal .form-control {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
}
/* line 146, ../sass/main.sass */
#postModal textarea {
  font-size: inherit;
  padding-left: 12px;
}
/* line 149, ../sass/main.sass */
#postModal .shared-with li {
  font-size: 12px;
}
/* line 151, ../sass/main.sass */
#postModal .tags-li i {
  padding-left: 15px;
}

/* line 155, ../sass/main.sass */
.navbar-nav .welcome-span {
  padding: 17px 0;
  display: block;
}

/* line 160, ../sass/main.sass */
.errorlist {
  padding: 0;
  margin-bottom: 8px;
  margin-top: -10px;
}
/* line 164, ../sass/main.sass */
.errorlist li {
  list-style-type: none;
  font-size: 12px;
  color: #e04a47;
}
