{% extends 'skeleton.html' %}
{% block page_body %}
    <div class="body">
    {% if user.is_authenticated %}
        <div class="wrapper">
        <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

            <ul class="nav">
                <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i
                        class="glyphicon glyphicon-chevron-right"></i></a></li>
            </ul>

            <span>Top Tags <i class="glyphicon glyphicon-tags"></i></span>
            <ul class="nav hidden-xs" id="lg-menu">
                {% for tag in TOPTAGS %}
                    <li><a href="{% url 'bookmark-search' tag=tag.title %}"><i
                            class="glyphicon glyphicon-tag"></i> {{ tag.title }}({{ tag.bookmarks_count }})</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /sidebar -->

        <!-- main right col -->
        <div class="column col-sm-10 col-xs-11" id="main">

        <!-- top nav -->
        <div class="navbar navbar-blue navbar-static-top">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand logo">b</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <form class="navbar-form navbar-left" action="{% url 'bookmark-search' %}" method="get"
                      name="searchForm">
                    <div class="input-group input-group-sm" style="max-width:360px;">
                        <input type="text" class="form-control" placeholder="Search" name="searchText"
                               id="srch-term" {% if searchword %} value="{{ searchword }}" {% endif %}>

                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i
                                    class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'home-page' %}"><i class="glyphicon glyphicon-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="#postModal" role="button" data-toggle="modal"><i
                                class="glyphicon glyphicon-plus"></i> Bookmark</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><span class="welcome-span">Welcome</span></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <i
                                class="glyphicon glyphicon-user"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user-profile' user.id %}">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'user-logout' %}">Logout</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /top nav -->
    {% endif %}
<div class="padding">
    <div class="full">
        {% block content %}
        {% endblock %}
        <!-- content -->

        <!--/row-->
        <div class="row" id="footer">
        </div>
        <hr>
    </div>
    <!-- /col-9 -->
</div>
<!-- /padding -->
</div>
<!-- /main -->

</div>
</div>
</div>


    <!--post modal-->
    <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Add Bookmark
                </div>
                <div class="modal-body">
                    <form class="form center-block row" action="{% url 'bookmark-add' %}" method="post"
                          id="bookmarkForm">
                        {% csrf_token %}
                        <div class="form-group col-md-12">
                            <input type="text" placeholder="Title" class="form-control" name="title"><br>
                            <input type="url" name="url" placeholder="URL" autofocus="" class="form-control"><br>
                        <textarea class="form-control input-lg"
                                  placeholder="Comment" name="comment"></textarea>
                        </div>
                        <input type="hidden" name="state" id="state" value="0">
                        <input type="text" name="tags" id="tags" style="display: none">
                    </form>
                </div>
                <div class="modal-footer">
                    <div>
                        {#                    <div class="btn-group">#}
                        {#                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Only me</button>#}
                        {#                    <ul id="dropdown-menu">#}
                        {#                        <li value="0">Only me</li>#}
                        {#                        <li value="1">Followers</li>#}
                        {#                        <li value="2">Public</li>#}
                        {#                    </ul>#}
                        {#                        </div>#}
                        {#                    #}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Only me <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu shared-with">
                                <li value="0"><a href="#">Only me </a></li>
                                <li value="1"><a href="#">Followers </a></li>
                                <li value="2"><a href="#">Public </a></li>
                            </ul>

                        </div>
                        <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true"
                                onclick="bookmarkForm.submit();">Save
                        </button>
                        <ul class="pull-left list-inline">
                            <li class="tags-li"><a href="javascript:;" onclick="tagBookmark();">
                                <div id="tagsArea" class="pull-left"></div>
                                <i class="glyphicon glyphicon-tag"></i></a>

                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock %}