{% for bookmark in object_list %}
{#    <fieldset>#}
{#        <h3>User: {{ bookmark.user.username}}</h3>#}
{#        <b>{{ bookmark.title }}</b><br>#}
{#        <a href="{{ bookmark.link.url }}">{{ bookmark.link.url }}</a><br>#}
{#        {{ bookmark.comment }}<br>#}
{#        {{ bookmark.state }}#}
{#    </fieldset>#}
    {% include "bookmark.html" %}
{% endfor %}