{% extends 'skeleton.html' %}

{% block body_class %}index-body{% endblock %}

{% block page_body %}
    <div>
        <div class="landing-page-content container">
            <div class="row">
                <div class="col-md-12 col-md-offset-1" style="position: relative">
                    <h1>Bookmarks</h1>
                <span style="position: absolute; top: 49px;font-size: 12px;left: 138px;">
                    learn to organize</span>
                </div>
            </div>
            <div class="row" style="padding-top: 40px">
                <div class="col-md-4 col-md-offset-1" style="padding-left: 20px;">
                    <p>Too many links to search for?<br>Organize links you want to keep, start with Bookmarks</p>
                </div>
                <div>
                    {% include 'login.html' %}
                </div>
                {#            <div class="col-md-6">#}
                {#                {% include 'login.html' %}#}
                {#            </div>#}
                {#            <div class="col-md-6">#}
                {#                <form action="{% url 'user-create' %}" method="post">#}
                {#                    <div class="form-group">#}
                {#                        <label for="username">Username</label>#}
                {#                        <input type="text" class="form-control" id="username" placeholder="Username">#}
                {#                    </div>#}
                {#                    <div class="form-group">#}
                {#                        <label for="password">Password</label>#}
                {#                        <input type="password" class="form-control" id="password" placeholder="Password">#}
                {#                    </div>#}
                {#                    <div class="form-group">#}
                {#                        <label for="password_repeat">Type your password again</label>#}
                {#                        <input type="password" class="form-control" placeholder="Retype Password">#}
                {#                    </div>#}
                {#                    <button type="submit" class="btn-primary">Sign up</button>#}
                {#                </form>#}
                {#                <span>Already have an account? <a href="{% url 'user-login' %}">Login</a></span>#}
                {#            </div>#}
            </div>
        </div>
    </div>
{% endblock %}
