{#{% extends "base.html" %}#}
{% load bootstrap %}
{% block title %}
{% endblock %}

{% block content %}
    <div class="col-md-5">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#" class="active" id="login-form-link">Login</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" id="register-form-link">Register</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <form id="login-form" action="{% url 'user-login' %}" method="post" role="form">
                            {#                                  style="display: block;">#}
                            {% csrf_token %}
                            {% if view == 'login' %}{{ form.non_field_errors }}{% endif %}
                            <div class="form-group">
                                {% if view == 'login' %}{{ form.username.errors }}{% endif %}
                                <input type="text" name="username" id="username" tabindex="1" class="form-control"
                                       placeholder="Username" value="{{ form.username.value|default_if_none:'' }}">
                            </div>
                            <div class="form-group">
                                {% if view == 'login' %}{{ form.password.errors }}{% endif %}
                                <input type="password" name="password" id="password" tabindex="2"
                                       class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                               class="form-control btn btn-login" value="Log In">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="register-form" action="{% url 'user-create' %}" method="post"
                              role="form">
                            {% csrf_token %}
                            {% if view == 'register' %}{{ form.non_field_errors }}{% endif %}
                            <div class="form-group">
                                {% if view == 'register' %}{{ form.username.errors }}{% endif %}
                                <input type="text" name="username" id="username" tabindex="1" class="form-control"
                                       placeholder="Username" value="{{ form.username.value|default_if_none:'' }}">
                            </div>
                            <div class="form-group">
                                {% if view == 'register' %}{{ form.email.errors }}{% endif %}
                                <input type="email" name="email" id="email" tabindex="1" class="form-control"
                                       placeholder="Email Address" value="{{ form.email.value|default_if_none:'' }}">
                            </div>
                            <div class="form-group">
                                {% if view == 'register' %}{{ form.password1.errors }}{% endif %}
                                <input type="password" name="password1" id="password" tabindex="2"
                                       class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                {% if view == 'register' %}{{ form.password2.errors }}{% endif %}
                                <input type="password" name="password2" id="confirm-password" tabindex="2"
                                       class="form-control" placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="register-submit" id="register-submit"
                                               tabindex="4" class="form-control btn btn-register"
                                               value="Register Now">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}