{% extends "base.html" %}

{% block title %}
    {{ viewed_user.username }}
{% endblock %}

{% block content %}
    <div class="user-profile">
        <div class="row">
            <div style="float: left; margin-right: 20px;">
                <img src="//placehold.it/150x150" class="img-rounded" style="width: 180px; height: 180px; margin:0">
            </div>
            <div class="col-md-8 details">
                <div class="pull-right">
                    <form method="post" action="." name="FollowForm">
                        {% csrf_token %}
                        <input type="hidden" name="action"/>
                        {% if user != viewed_user and user not in followers %}
                            <button class="btn btn-primary following-btn"
                                    onclick="FollowForm.action.value='follow'; FollowForm.submit();">
                                Follow
                            </button>
                        {% elif user != viewed_user %}
                            <button class="btn btn-primary following-btn"
                                    onclick="FollowForm.action.value='unfollow'; FollowForm.submit();">
                                Unfollow
                            </button>
                        {% else %}
                            {#                        <button class="btn btn-default">Edit profile <i#}
                            {#                                class="glyphicon glyphicon-edit"></i></button>#}
                        {% endif %}
                    </form>
                </div>

                <h1>{{ viewed_user.get_full_name }}</h1>

                <h2>{{ viewed_user.username }}</h2>

                {#                <p>{{ viewed_user }}</p>#}


            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-left: 10px;">
                <div class="followers-panel panel">
                    {% if followers|length_is:"0" %}
                        No Followers
                    {% else %}
                        <div class="panel-heading">Followers</div>
                        <div class="panel-body">
                        <ul>
                            {% for follower in followers %}
                                <li class="follower"><a
                                        href="{% url 'user-profile' follower.id %}">{{ follower.username }}</a></li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8" style="margin-left: 10px;">
                {% for bookmark in bookmarks %}
                    {% include 'bookmark.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}