{% extends "base.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}
    <form method="post" action=".">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Register me</button>
    </form>
{% endblock %}